/* 
light blue - 
#0078D2
dark gray - #36495A
white - #FFFFF
light gray - #9DA6AB
Black - #131313
Red - #C30019
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
header{
    background-color: white;
    padding: 5px;
    display: flex;
    flex:auto;
    justify-content: left;


}
.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #36495A;
    border-radius: 20px;
    background-color: #9DA6AB;
    margin: 0 20px;
    color: white;
    margin-top: 5%;
}

.input-card{

    margin: 5px;
    display:flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    max-width: 85%;
    padding: 5px;
    gap: 5px;
}

.input{
    padding: 5px;
    margin: 5px;
}