/* 
light blue - 
#0078D2
dark gray - #36495A
white - #FFFFF
light gray - #9DA6AB
Black - #131313
Red - #C30019
*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid #36495A;
    border-radius: 20px;
    background-color: #9DA6AB;
    margin: 5px 20px;
    color: white;
    margin-top: 5%;
    gap: 5px;
}

.input-card{

    margin: 5px;
    padding: 5px;
    display:flex;
    flex: auto;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
    max-width: 85%;
    gap: 3px;
}

.input{
    padding: 5px;
    margin: 5px;
    gap: 3px;
}
input[type=text]{
    width: 100%;
    padding: 3px 5px;
    margin: 2px 0;
    display: inline-block;
    border: 1px solid #36495A;
    border-radius: 4px;
    box-sizing: border-box;
  }
input[type=submit]{
    background-color: #C30019;
    border:none;
    border-radius: 20px;
    color:white;
    padding: 8px 16px;
    margin: 4px 1px;
    cursor:pointer;
}

.steps-list{
    display: flex;
    flex: auto;
    flex-direction: column;
    text-align: center;
    margin: 10px;
    padding: 5px;
    gap: 10px;
}
.step{
    gap: 5px;
    margin:10px;
    padding:5px;
    
}
.map-link-holder{
    text-align: center;
}