<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Right Place, Right Time</title>
</head>
<body>       
    <div class="flex-container">
        <div class="input-card">
            <img src="static/american-airlines-logo-png-transparent.png" alt="AA Logo">
            <h2>Enter your flight information:</h2>
            <div class="input">
                <form name="passData" action="." method="post">
                    <label for="flightNum">Flight Number: </label>
                    <input type="text" id="flightNum" name="flightNum"><br>
                    <label for="Date">Date:</label>
                    <input type="date" id="flightDate" name="flightDate">

                    <p>Are you...</p>
                    <input type="radio" id="parking" name="arrival" value="parking">
                    <label for="parking">parking at the airport</label><br>
                    <input type="radio" id="dropoff" name="arrival" value="dropOff">
                    <label for="dropOff">being dropped off</label><br> 
                    <p>Are you checking bags?</p>
                    <input type="radio" id="yes" name="bagcheck" value="yes">
                    <label for="yes">Yes</label><br>
                    <input type="radio" id="No" name="bagcheck" value="no">
                    <label for="no">no</label><br>
                    <label for="boardingPass">Do you have your boarding pass?</label><br>
                    <input type="radio" id="yes" name="boardingPass" value="yes">
                    <label for="yes">Yes</label><br>
                    <input type="radio" id="No" name="boardingPass" value="no">
                    <label for="no">No</label><br>
                    <input type="submit" value="Submit">
                  </form>
            </div>
        </div>
    </div>
</body>
</html>