<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles.css">
    <title>Instructions</title>
</head>
<body>
    <div class="flex-container">
        <img src="static/american-airlines-logo-png-transparent.png" alt="AA Logo">
        <div class="steps-list">
            <h2>Follow these instructions to reach your gate...</h2>
            <ol class="inst-ol">
                {%for i in range(0, len)%}
                    <div class="step">
                        <li class="inst-li">{{instructions[i]}}</li>
                    </div>
                {%endfor%}               
            </ol>
        </div>
    </div>
</body>
</html>